.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
  padding: 2em;
  margin-bottom: 2em;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

.backButton {
  margin: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #202020;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}

.backButton span {
  font-size: 1.5rem;
  margin-right: 10px;
}

.characterName {
  font-size: 1.8em;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 10px 5px;
  height: 100%;
}

.cardContainer {
  width: 100%;
}

.cardContainer button {
  border: 0;
  cursor: pointer;
}

.characterImageWrapper {
  width: 100%;
}

.characterImage {
  width: 100%;
}

.characterDescription {
  padding: 1em;
  margin: 10px;
}

.characterSeries {
  list-style: "📕";
  margin: 1em;
  display: inline-block;
  padding-bottom: 1em;
}

.characterSeries li {
  padding-left: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.characterForm {
  display: flex;
  flex-direction: column;
}

.characterInputs {
  padding: 1em;
  margin: 1em;
  display: inline-block;
}

.characterInputs:first-of-type {
  margin-bottom: 0;
  margin-top: 1.5em;
}

.characterFormFooter {
  display: flex;
  margin-top: 1em;
}

.characterFormFooter button {
  border-radius: 0;
  outline: none;
}

.characterFormFooter button[type="submit"] {
  border-right: 1px solid #fff;
}
