.charactersList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 1em;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

@media screen and (min-width: 1080px) {
  .charactersList {
    grid-template-columns: repeat(5, 1fr);
  }
}

.charactersCard {
  width: 100%;
  border: 1px solid #a7a7a7;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.2);
}

.charactersImageWrapper {
  max-height: 200px;
  overflow: hidden;
}

.charactersImage {
  width: 100%;
  height: 100%;
}

.charactersContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charactersContent h3 {
  margin: 10px;
  width: 100%;
  text-align: center;
  margin: 15px 0;
  padding: 0 5px;
  margin-bottom: 0;
}

.charactersDescription {
  display: -webkit-box;
  padding: 0 10px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.charactersFooter {
  display: inline-flex;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.charactersLink {
  background-color: #202020;
  width: 100%;
  color: #fff;
  padding: 15px 10px;
  text-decoration: none;
  display: flex;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
}
.charactersLink:hover {
  background-color: #000;
  text-decoration: underline;
}

.charactersCardLoading {
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  width: 100%;
  background-color: #d8d8d8;
}

.charactersCardLoading:before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1);
}


.charactersListEmpty {
  padding: 1.5em;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.charactersListEmpty p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.charactersListEmpty button {
  border: 1px solid #202020;
  font-size: 1.2em;
  padding: 10px;
  background: transparent;
  color: #202020;
  cursor: pointer;
}

.charactersListEmpty button:hover {
  text-decoration: underline;
}


@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
