.container {
  line-height: 1;
  font-weight: 400;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.footerSvgContainer {
  margin: 0 10px;
}

.footerText {
  color: #999;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.2em;
    padding: 0 10px;
    margin-bottom: 10px;
}

.footerLink {
  color: #999;
  font-size: 12px;
  text-decoration: none;
  line-height: 1.2em;
  padding: 0 10px;
  margin-bottom: 10px;
}
