.container {
  margin: 1.2em;
}

.container form {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .container form {
    width: 50%;
  }
}

.container input {
  width: 100%;
  margin-right: 10px;
  padding: .8em;
  border: 0;
  border-bottom: 2px solid #151515;
  padding-bottom: .4375rem;
  padding-left: 0;
  border-radius: 0;
  outline: none;
  font-size: 1.2em;
}
