.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button {
  font-size: 1.2em;
  font-weight: 400;
}

.paginationWrapper {
  display: flex;
  list-style: none;
  max-width: 100%;
  overflow-x: scroll;
  margin: 2em 10px;
  padding: 0;
}

.paginationItem {
  border: 1px solid #ccc;
  line-height: 1;
  padding: 10px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 4px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
}

.paginationItem:hover {
  border: 1px solid black;
}

.paginationItem.active {
  border: 1px solid black;
  font-weight: bold;
}
